html{
    box-sizing: border-box;
}

div, section{
    display: flex;
}

div{
    max-width: 65vw;
}

span{
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 3em;
    flex-grow: 1;
}

.week{
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: space-between;
}

.week span:nth-child(1), .week span:nth-child(7){
    flex-basis: 100%;
    padding-bottom: 4em;
}

.notes{
    flex-direction: column;
}