@media (max-width: 1000px) {
    header nav ul li{
        display: block;
        text-align: center;
    }

    header nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header nav ul{
        display: flex;
        flex-direction: column;
        gap: 0.3em;
    }

    section.header-title{
        padding-top: 20px;
    }

    .team-description-wrapper ul{
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
    }

    main section.choose-us ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;
    }

    main section.choose-us ul li{
        flex-basis: 400px;
    }

    .blog-list{
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
}